<!-- <h3>CRUD Operation</h3> -->
<mat-toolbar color="primary">
  <button mat-icon-button class="mr-8" routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <span>CRUD Operation using angular and .NET</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" >
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
<div class="flex justify-center">


<router-outlet></router-outlet>
</div>
