<!-- @if (UserList && UserList.length>0) { -->
<div class="mat-elevation-z8 w-full ">
  <div class="flex justify-end p-8 text-right" style="padding: 15px; text-align: right;"><button mat-raised-button color="primary" routerLink="/create-user"> Add User</button></div>
  <div >User:</div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="UserList">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->

    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      <mat-footer-cell *matFooterCellDef mat-table-filter-trigger>Id</mat-footer-cell>
    </ng-container>
    <!-- First Name Column -->
    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      <mat-footer-cell *matFooterCellDef mat-table-filter-trigger>FirstName</mat-footer-cell>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      <mat-footer-cell *matFooterCellDef mat-table-filter-trigger>LastName</mat-footer-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      <mat-footer-cell *matFooterCellDef mat-table-filter-trigger>Email</mat-footer-cell>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      <mat-footer-cell *matFooterCellDef mat-table-filter-trigger>Role</mat-footer-cell>
    </ng-container>

    <!-- Region Column -->
    <ng-container matColumnDef="Regions">
      <th mat-header-cell *matHeaderCellDef> Regions </th>
      <td mat-cell *matCellDef="let element"> {{element.regions}} </td>
      <mat-footer-cell *matFooterCellDef mat-table-filter-trigger>regions</mat-footer-cell>
    </ng-container>

    <!-- Moniker Column -->
    <ng-container matColumnDef="Monikers">
      <th mat-header-cell *matHeaderCellDef> Monikers </th>
      <td mat-cell *matCellDef="let element"> {{element.monikers}} </td>
      <mat-footer-cell *matFooterCellDef mat-table-filter-trigger>Monikers</mat-footer-cell>
    </ng-container>

    <!-- Module Column -->
    <ng-container matColumnDef="Modules">
      <th mat-header-cell *matHeaderCellDef> Modules </th>
      <td mat-cell *matCellDef="let element"> {{element.modules}} </td>
      <mat-footer-cell *matFooterCellDef mat-table-filter-trigger>Module</mat-footer-cell>
    </ng-container>

    <!-- Flowtype Column -->
    <ng-container matColumnDef="Flowtype">
      <th mat-header-cell *matHeaderCellDef> FlowTypes </th>
      <td mat-cell *matCellDef="let element"> {{element.flowtypes}} </td>
      <mat-footer-cell *matFooterCellDef mat-table-filter-trigger>Flowtype</mat-footer-cell>
    </ng-container>

    <!-- Trader Column -->
    <ng-container matColumnDef="Traders">
      <th mat-header-cell *matHeaderCellDef> Traders </th>
      <td mat-cell *matCellDef="let element"> {{element.traders}} </td>
      <mat-footer-cell *matFooterCellDef mat-table-filter-trigger>Trader</mat-footer-cell>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="editUser(element.id)">Edit</button>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="warn" (click)="DeleteUser(element.id)">Delete</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<!-- } -->
